<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    {% for i in mylist %}
    <title>{{i.mainTitleName}}</title>
    {% endfor %}
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static '/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <!-- script
    ================================================== -->
    <script src="{% static '/js/modernizr.js' %}" ></script>
    <script defer src="{% static 'js/fontawesome/all.min.js' %}"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
<!--    <div id="preloader">-->
<!--    	<div id="loader"></div>-->
<!--    </div>-->


    <!-- header
    ================================================== -->
    <header class="s-header s-header--opaque">

       <div class="s-header__logo">
            <a class="logo" href="http://127.0.0.1:8000/inkspire/index/">
                <img src="{% static 'parallax/logo main.png' %}" style="height: 50px;width: 50px;margin-left:1200%">
            </a>
        </div>

        <div class="row s-header__navigation">

            <nav class="s-header__nav-wrap">

                <h3 class="s-header__nav-heading h6">Navigate to</h3>

                <ul class="s-header__nav">
                    <li class="current"><a href="http://127.0.0.1:8000/inkspire/index/" title="">Home</a></li>
                    <li class="has-children">
                        <a href="#0" title="">Profile</a>
                        <ul class="sub-menu">
                            <li><a href="http://127.0.0.1:8000/inkspire/userprofile/">Account</a></li>
                            <li><a href="http://127.0.0.1:8000/inkspire/proimageupload">Upload Photo</a></li>


                        </ul>
                    </li>
                    <li><a href="http://127.0.0.1:8000/inkspire/blogupload/">Create Story</a></li>
                    <li><a href="http://127.0.0.1:8000/inkspire/bloglist/" title="">Your Stories</a></li>

                    <li><a href="http://127.0.0.1:8000/inkspire/logout/" title="">Logout</a></li>
                </ul> <!-- end s-header__nav -->


                <a href="#0" title="Close Menu" class="s-header__overlay-close close-mobile-menu">Close</a>

            </nav> <!-- end s-header__nav-wrap -->

        </div> <!-- end s-header__navigation -->

        <a class="s-header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

        <div class="s-header__search">

            <div class="s-header__search-inner">
                <div class="row wide">

                    <form role="search" method="get" class="s-header__search-form" action="#">
                        <label>
                            <span class="h-screen-reader-text">Search for:</span>
                            <input type="search" class="s-header__search-field" placeholder="Search for..." value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="s-header__search-submit" value="Search">
                    </form>

                    <a href="#0" title="Close Search" class="s-header__overlay-close">Close</a>

                </div> <!-- end row -->
            </div> <!-- s-header__search-inner -->

        </div> <!-- end s-header__search wrap -->


    </header> <!-- end s-header -->


    <!-- content
    ================================================== -->
    <section class="s-content">
        <div class="row">
            <div class="column large-12">

                <article class="s-content__entry format-standard">

                    <div class="s-content__media">
                        <div class="s-content__post-thumb">

                        <!--  for loop for video and image -->
                         {% for i, j in my %}
                            <img src="/static/blogImages/{{i}}"
                                 srcset=" " width="100%" sizes="(max-width: 2100px) 100vw, 2100px" alt="">
                        </div>
                    </div> <!-- end s-content__media -->

                    <div class="s-content__entry-header">

                        <!--for loop for text content start here-->
                            {% for i in mylist %}
                        <h1 class="s-content__title s-content__title--post">{{i.mainTitleName}}</h1>
                    </div> <!-- end s-content__entry-header -->

                    <div class="s-content__primary">

                        <div class="s-content__entry-content">

                            <p class="lead">{{i.summary}}</p>
                            {% endfor %}
                                <!-- for loop for main heading and summary ends here -->


                            <p>
                                <video  controls>
                                      <source src="/static/blogVideo/{{j}}"    sizes="(max-width: 2100px) 100vw, 2100px">
                                    </video>
                            </p>
                            {% endfor %}
                            <!--   for loop for video and image ends here   -->
                            <!-- for loop for 1st heading,1st paragraph,2nd heading,2nd paragraph stats here-->
                            {% for i in mylist %}
                            <h2>{{i.subTitleNameFirst}}</h2>

                            <p>{{i.paragarphFirst}}</p>


                            <h3>{{i.subTitleNameSecond}}</h3>

                            <p>{{i.paragarphSecond}}</p>
                            {% endfor %}

                        <!-- for loop for 1st heading,1st paragraph,2nd heading,2nd paragraph stats here                           -->





<!--                            <p>-->
<!--                            Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et-->
<!--                            quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa.</p>-->

<!--                            <ul>-->
<!--                                <li>Donec nulla non metus auctor fringilla.-->
<!--                                    <ul>-->
<!--                                        <li>Lorem ipsum dolor sit amet.</li>-->
<!--                                        <li>Lorem ipsum dolor sit amet.</li>-->
<!--                                        <li>Lorem ipsum dolor sit amet.</li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li>Donec nulla non metus auctor fringilla.</li>-->
<!--                                <li>Donec nulla non metus auctor fringilla.</li>-->
<!--                            </ul>-->

<!--                            <p>-->
<!--                            Odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti dolores et quas-->
<!--                            molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa. Aenean eu leo quam.-->
<!--                            Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue-->
<!--                            laboris in sit minim cupidatat ut dolor voluptate enim veniam consequat occaecat fugiat in adipisicing-->
<!--                            in amet Ut nulla nisi non ut enim aliqua laborum mollit quis nostrud sed sed.-->
<!--                            </p>-->

                        </div> <!-- end s-entry__entry-content -->

                        <div class="s-content__entry-meta">
                        <!--blog uploader for loop starts here-->
                            {% for i,j in profile %}
                            <div class="entry-author meta-blk">
                                <div class="author-avatar">
                                    <img class="avatar" src="/static/profile_pictures/{{i}}" alt="">
                                </div>
                                <div class="byline">
                                    <span class="bytext">Posted By</span>
                                    <a href="#0">{{j}}</a>
                                    {% endfor %}
                                </div>

                                <!--blog uploader for loop ends here-->
                            </div>



                        </div> <!-- s-content__entry-meta -->

                        <div class="s-content__pagenav">
                            <div class="prev-nav">
                                <a href="#" rel="prev">
                                    <span>Previous</span>
                                    Tips on Minimalist Design
                                </a>
                            </div>
                            <div class="next-nav">
                                <a href="#" rel="next">
                                    <span>Next</span>
                                    A Practical Guide to a Minimalist Lifestyle.
                                </a>
                            </div>
                         </div> <!-- end s-content__pagenav -->

                    </div> <!-- end s-content__primary -->
                </article> <!-- end entry -->

            </div> <!-- end column -->
        </div> <!-- end row -->





    </section> <!-- end s-content -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">

            <div class="row">

                <div class="column large-3 medium-6 tab-12 s-footer__info">

                    <h5>About Our Site</h5>

                    <p>
                    Welcome to Inkspire, a captivating online platform dedicated to igniting inspiration and fostering creativity through the power of words.
                        Explore a world of thought-provoking articles, captivating stories, and insightful musings penned by a diverse community of talented writers.
                        Unleash your imagination, enrich your mind, and join us on a journey of discovery and inspiration at Inkspire, where words come alive.
                    </p>
                </div> <!-- end s-footer__info -->

                <div class="column large-2 medium-3 tab-6 s-footer__site-links">

                    <h5>Site Links</h5>

                    <ul>
                        <li><a href="#0">About Us</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">FAQ</a></li>
                        <li><a href="#0">Terms</a></li>
                        <li><a href="#0">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end s-footer__site-links -->

                <div class="column large-2 medium-3 tab-6 s-footer__social-links">

                    <h5>Follow Us</h5>

                    <ul>
                        <li><a href="#0">Twitter</a></li>
                        <li><a href="#0">Facebook</a></li>
                        <li><a href="#0">Dribbble</a></li>
                        <li><a href="#0">Pinterest</a></li>
                        <li><a href="#0">Instagram</a></li>
                    </ul>

                </div> <!-- end s-footer__social links -->

                <div class="column large-3 medium-6 tab-12 s-footer__subscribe">

                    <h5>Sign Up for Newsletter</h5>

                    <p>Signup to get updates on articles, interviews and events.</p>

                    <div class="subscribe-form">

                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Your Email Address" required="">

                            <input type="submit" name="subscribe" value="subscribe" >

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>

                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div> <!-- end row -->

        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="column">
                    <div class="ss-copyright">
                        <span>© Copyright Inkspire 2023</span>

                    </div> <!-- end ss-copyright -->
                </div>
            </div>

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="15" height="15"><path d="M7.5 1.5l.354-.354L7.5.793l-.354.353.354.354zm-.354.354l4 4 .708-.708-4-4-.708.708zm0-.708l-4 4 .708.708 4-4-.708-.708zM7 1.5V14h1V1.5H7z" fill="currentColor"></path></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

   </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static 'js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


</body>

</html>